@using BankProject.Models.ViewModels
@model DepositViewModel
@{
    ViewData["Title"] = "Withdraw";
}

<h1>Deposit</h1>
<form asp-action="Withdraw" method="post">
    @Html.HiddenFor(x=>x.FirstUserId)
<div class="mb-3">
    <input class="form-control" value="@Model.balance">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Enter Amount</label>
    <input class="form-control" asp-for="Newbalance">
</div>
<input type="submit" value="Withdraw" class="btn btn-success" />
</form>